* {
  /* Configurações padrão */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

button {
  width: 10;
  padding: 0.7rem;
  margin-top: 1.5rem;
  background: #004d00;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background 0.2s;
  text-align: center;
  align-items: center;
}

button:hover {
  background: #003300;
}

a {
  text-decoration: none;
}