body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    max-width: 900px;
    margin-inline: auto;
    flex: 1;
    padding: 10px;
}

main h1,
main h2 {
    clear: both;
    margin-bottom: 10px;
    color: #0a4614;
}

h2 {
    margin-top: 2rem;
}

main p {
    text-indent: 1.5rem;
    margin-bottom: 10px;
    text-align: justify;
}

.fala{
     background: #f9f9f9;
  border-left: 4px solid #b72b00;
  margin: 1.5em 0;
  padding: 1em 1.2em;
  font-style: italic;
  position: relative;
}

.imagem {
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
}

.cover {
    object-fit: cover !important;
}


.contain {
    object-fit: contain !important;
}

.imagem-lateral {
    width: 350px;
    object-fit: cover;
    max-height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.imagem-lateral.right {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}

.p-top {
    object-position: top;
}

.p-left {
    object-position: left;
}

.p-right {
    object-position: right;
}

.p-bottom {
    object-position: bottom;
}

@media (max-width: 700px) {
    .imagem,
    .imagem-lateral {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2rem;

    ::marker {
        color: #008829;
    }
}